# =========================
# Evolutionary Algorithm — config.toml
# =========================

[run]
# Choose which genotype profile to use for this run.
# One of: "integers", "tree", "lsystem", "cppn"
genotype = "cppn"

# Choose which (morphological) task we want to try
# One of "evolve_to_copy", "evolve_for_novelty"
task = "evolve_to_copy"

[task.evolve_to_copy.params]
target_robot_path = "examples/target_robots/large_robot_25.json"

[task.evolve_for_novelty.params]
n_points_to_consider =  10

# =========================
# Global EC settings (match EASettings fields)
# =========================
[ec]
quiet = false
is_maximisation = true
first_generation_id = 0
num_of_generations = 100
target_population_size = 100

# =========================
# Data config
# =========================
[data]
# Paths can be absolute or relative to the working directory
output_folder = "__data__"
db_file_name = "cppn"
# db_handling modes: "delete" | "reuse" | "migrate" (adjust to your app’s enum)
db_handling = "delete"

# =========================
# Genotype registry
# Each genotype declares:
# - allowed_mutations / allowed_crossovers: for validation/help
# - defaults: operators used if not overridden in [run]
# - (Optional) operator params (e.g., rates, alphas)
# =========================


# TREES

[genotypes.tree]
allowed_mutations  = ["random_subtree_replacement"]
allowed_crossovers = ["koza_default", "normal"]

[genotypes.tree.create_individual_params]

[genotypes.tree.defaults]
mutation = "random_subtree_replacement"
crossover = "koza_default"

[genotypes.tree.mutation.params]
max_subtree_depth = 2
branching_prob = 0.5

[genotypes.tree.crossover.params]
koza_internal_node_prob = 0.9


# LSYSTEM

[genotypes.lsystem]
allowed_mutations   = ["mutate_one_point_lsystem"]
allowed_crossovers  = ["crossover_uniform_rules_lsystem", "crossover_uniform_genes_lsystem"]

[genotypes.lsystem.create_individual_params]

[genotypes.lsystem.defaults]
mutation = "mutate_one_point_lsystem"
crossover = "crossover_uniform_rules_lsystem"

[genotypes.lsystem.mutation.params]
mutation_rate = 0.5

[genotypes.lsystem.crossover.params]
mutation_rate = 0.5


# CPPN
[genotypes.cppn]
allowed_mutations   = ["mutate_cppn"]
allowed_crossovers  = ["crossover"]

[genotypes.cppn.create_individual_params]


[genotypes.cppn.defaults]
mutation = "mutate_cppn"
crossover = "crossover"

[genotypes.cppn.mutation.params]
node_add_rate = 0.5
conn_add_rate = 0.5

[genotypes.cppn.crossover.params]
